<template>
    <div id="dataPrep">
        <Module/>
    </div>
</template>

<script>
import Module from '../components/Module'
export default {
    Name: "DataPrep",
    components: {
        Module
    },
}


</script>

<style scoped>

</style>