<template>
    <div>
        <div v-if="isOpen">
            <div id="expoHall">
                <div id="buttons">

                    <b-button class="hoverPulse" id="popover-target-1">
                    <button class="btn btn-primary" type="button" disabled>
                        <a href="/Product">
                            &plus;
                            </a></button>
                    </b-button>
                    <b-popover target="popover-target-1" triggers="hover" placement="left" class="popover">
                        <template #title>Product</template>
                            # Attendees
                    </b-popover>

    <div>
        <div class="info">
            <h2>Product</h2>
            <p># Attendees</p>
        </div>
        <button class="btn btn-primary hoverPulse" type="button" disabled>
            <a href="/Product">
                &plus;
            </a>
        </button>
    </div>

    <div>
        <div class="info">
            <h2>Sales Resources</h2>
            <p># Attendees</p>
        </div>
        <button class="btn btn-primary hoverPulse" type="button" disabled>
            <a href="/SalesResources">
                &plus;
            </a>
        </button>
    </div>

    <div>
        <div class="info">
            <h2>Marketing</h2>
            <p># Attendees</p>
        </div>
        <button class="btn btn-primary hoverPulse" type="button" disabled>
            <a href="/Marketing">
                &plus;
            </a>
        </button>
    </div>

    <div>
        <div class="info">
            <h2>GTM Resources</h2>
            <p># Attendees</p>
        </div>
        <button class="btn btn-primary hoverPulse" type="button" disabled>
            <a href="/GTMResources">
                &plus;
            </a>
        </button>
    </div>

    <div>
        <div class="info">
            <h2>Partners</h2>
            <p># Attendees</p>
        </div>
        <button class="btn btn-primary hoverPulse" type="button" disabled>
            <a href="/Partners">
                &plus;
            </a>
        </button>
    </div>

    </div>
    
    <section id="easterEggs">
            <span class="easterEgg" id="marketing">
                    <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-1>

                    <b-modal size="xl" id="modal-1" title="" class="easterModal modal-content" data-target="#customHeaderModal">
                        <p class="my-4"><EasterEgg/></p>
                        <template #modal-footer="">

                        </template>
                    </b-modal>
                        
                    </span>
                    <span class="easterEgg" id="parm">
                            <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-2>
                            <b-modal size="xl" id="modal-2" title="" class="easterModal">
                        <p class="my-4"><EasterEgg/></p>
                    </b-modal>
                    </span>
                    <span class="easterEgg" id="marcus">
                            <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-3>
                            <b-modal size="xl" id="modal-3" title="" class="easterModal">
                        <p class="my-4"><EasterEgg/></p>
                    </b-modal>
                    </span>
                    <span class="easterEgg" id="gtm">

                            <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-4>
                            <b-modal size="xl" id="modal-4" title="" class="easterModal">
                        <p class="my-4"><EasterEgg/></p>
                    </b-modal>
                    </span>
                </section>
            </div>
        </div>
        <div v-else>
            <PageClosed />
        </div>
    </div>
</template>

<script>
import easterEgg from '../assets/img/EasterEggHover.png'
import EasterEgg from '../components/EasterEgg'
import PageClosed from '../components/PageClosed'

export default {
    components: {
        EasterEgg,
        PageClosed
    },
    data(){
        
        return{
            isOpen:true,
            easterEgg
        }
    },
    created(){

        this.$contentful.getEntries(
            { content_type:"blackoutTime"}
        )
        .then((res) => {
            
            var today = new Date();

            for(let dateObj of res.items){

                var start = new Date(dateObj.fields.start);
                var end = new Date(dateObj.fields.end);

                if(today.getTime() > start.getTime() && today.getTime() < end.getTime()){
                    this.isOpen=false
                    break;
                }
            }
        })
        .catch((error) => {
            console.log(error)
        })
    }
}
</script>

<style scoped>

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--data-robot);
    background-color: white;
    color: black;
    width: 120px;
    height: 85px;
    padding: 5px;
    border-radius: 10px;
}
h2{
    font-size: 14px;
    font-weight: bolder;
}
p{
    font-size: 12px;
    margin-bottom: 0;
}
#buttons>div{
    display: flex;
    flex-direction: row;
}
.popover::after{
    display: none;
}
.popover>.arrow::after {
    display: none;
}
.modal.show .modal-dialog{
    margin-top: 20%;
}
    .icon{
        height: 40px;
        display: none;
    }
    .easterEgg{
        position: absolute;
        width: 50px;
        height: 50px;
    }
    #easterEggs{
        display: flex;
        justify-content: center;
    }
    #marketing{
        bottom: 18%;
        left: 41%;
    }
    #parm{
        bottom: 16%;
        left: 45%;
    }
    #parm:hover .icon, #marketing:hover .icon, #marcus:hover .icon, #gtm:hover .icon{
        display: inline;
        cursor: pointer;
    }
    #marcus{
        bottom: 20%;
        right: 22%;
    }
    #gtm{
        right: 12%;
        bottom: 19%;
    }
    #buttons{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        opacity: 1;
    }
    #expoHall{
        background-image: url(../assets/img/Expo_Main.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
    #buttons>div>button{
        background-color: var(--data-robot);
        border-radius: 20px;
        border: none;
        width: 40px;
        height: 40px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    #buttons>div>button{
        background-color: var(--data-robot);
        border-radius: 20px;
        border: none;
        width: 40px;
        height: 40px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    #buttons>.btn-primary, .btn-primary.disabled, .btn-primary:disabled{
        background-color: transparent;
        border-color: transparent;
    }
    span{
        z-index: 999;
        margin-bottom: 70px;
    }
    button a{
        color: white;
        text-decoration: none;
        font-size: 30px;
        opacity: 1;
    }
    button a:hover{
        color: white;
        text-decoration: none;
    }
    button:hover{
        background-color: var(--data-dark);
    }
    .modal-content{
        margin-top: 40%;
    }
</style>