<template lang="html">
    <!--<div id='panel'>-->
        <sui-container>
            <sui-button-group attached="top">
                  <sui-button content="Leaderboard" />
                  <sui-button content="Ways to earn points" />
            </sui-button-group>
            <h1>Your Score</h1>
            <sui-table single-line>
                <sui-table-body class="table-item">
                <sui-table-row>
                        <sui-table-cell>{{yourScore.rank}}</sui-table-cell>
                        <sui-table-cell>{{yourScore.firstName}} {{yourScore.lastName}}</sui-table-cell>
                        <sui-table-cell>{{yourScore.dept}}</sui-table-cell>
                        <sui-table-cell>{{yourScore.points}}</sui-table-cell>
                    </sui-table-row>
                </sui-table-body>
            </sui-table>
            <sui-table single-line>
                <sui-table-header class="table-header">
                    <sui-table-row>
                        <sui-table-header-cell>Rank</sui-table-header-cell>
                        <sui-table-header-cell>Attendee</sui-table-header-cell>
                        <sui-table-header-cell>Role</sui-table-header-cell>
                        <sui-table-header-cell>Score</sui-table-header-cell>
                    </sui-table-row>
                </sui-table-header>
                <sui-table-body class="table-item">
                    <sui-table-row v-for="data, index in leaderboardData" :key="data.points">
                        <sui-table-cell>{{index + 1}}</sui-table-cell>
                        <sui-table-cell>{{data.firstName}} {{data.lastName}}</sui-table-cell>
                        <sui-table-cell>{{data.dept}}</sui-table-cell>
                        <sui-table-cell>{{data.points}}</sui-table-cell>
                    </sui-table-row>
                </sui-table-body>
            </sui-table>
        </sui-container>
    <!--</div>-->
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            yourScore: {},            
            leaderboardData: []
        }
    },
    created(){
        this.fetch();
    },
    methods:{
        fetch: function(){
            axios.get("https://new-business.machine.datarobot.com/gko/v1/b87ULVOTDyM1OJZoqymi3kcuY0orPx1lIln1NHMQiTM/aaq6up_Jg_81eN8COMO__6JUSkoCVF54QMitEtvBfpA?bVxFV7BSJCLI0S6nWGzySw=vMHHf4D-GvC47PhcOhr-Eg")
                .then((response) => {
                    this.leaderboardData=response.data;
                    this.yourScore=this.leaderboardData.find(x=> x.email ==="carla.frykholm@datarobot.com")
                    this.yourScore.rank=this.leaderboardData.indexOf(this.yourScore) + 1
                })
        }
    }


}
</script>

<style scoped>

    h1{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: bold;
        font-size: 22px !important;
        line-height: 118.69%;
        background-color:white !important;
        /* or 26px */

        display: flex;
        align-items: center;
        color: #2D8FE2 !important;
    }

    #panel{
        background-image: url(../assets/img/blurry-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100vw;
    }

    .local-header th{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 118.69%;
        display: flex;
        align-items: center;
        color: #2D8FE2 !important;
    }

    .table-header{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 118.69%;
        color: #23232D;
    }
    .table-item{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 118.69%;
        /* or 21px */

        text-transform: capitalize;

        color: #23232D !important;
    }
    #leaderBoard{
        background-color: white;
        height: 60%;
        width: 40%;
        align-self: center;
    }
    h1{
        background-color: #6FB5F1;
        color: white;
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
    h2{
        color: var(--data-blue);
        font-size: 18px;
        font-weight: bold;
    }
    section{
        background-color: #DFEEFA;
        color: var(--data-blue);
    }
    #theirScore{
        max-height: 75%;
        overflow: scroll;
    }
</style>