<template>
    <div id="lobby">
        <!--<AudioPlayer url="../assets/Lobby_Audio.mp3" />-->
        <AudioPlayer 
            url="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_700KB.mp3" 
            ref="player"
            />
        <!-- video background -->
        <video autoplay loop muted id="videobg" :key="bgvid" >
            <source src="../assets/Lobby_Main.mp4" type="video/mp4">
        </video>

    <b-button id="popover-target-1" class="hoverAnimation">
    <button class="btn btn-primary" type="button" disabled id="expoHall">
        <a href="/ExpoHall">
            &plus;
            </a></button>
    </b-button>
    <b-popover target="popover-target-1" triggers="hover" placement="left" class="popover">
        <template #title></template>
            Expo Hall
    </b-popover>

    <b-button id="popover-target-2" class="hoverAnimation">
    <button class="btn btn-primary" type="button" disabled id="networking">
        <a href="/Networking">
            &plus;
            </a></button>
    </b-button>
    <b-popover target="popover-target-2" triggers="hover" placement="left" class="popover">
        <template #title></template>
            Networking
    </b-popover>

    <b-button id="popover-target-3" class="hoverAnimation">
    <button class="btn btn-primary" type="button" disabled id="sessions">
        <a href="/Sessions">
            &plus;
            </a></button>
    </b-button>
    <b-popover target="popover-target-3" triggers="hover" placement="left" class="popover">
        <template #title></template>
            Sessions
    </b-popover>

    <b-button id="popover-target-4" class="hoverAnimation">
    <button class="btn btn-primary" type="button" disabled id="leaderboard">
        <a href="/Leaderboard">
            &plus;
            </a></button>
    </b-button>
    <b-popover target="popover-target-4" triggers="hover" placement="left" class="popover">
        <template #title></template>
            Leaderboard
    </b-popover>

    <b-button id="popover-target-5" class="hoverAnimation">
    <button class="btn btn-primary" type="button" disabled id="helpDesk">
        <a @click="zeTrigger">
            &plus;
            </a></button>
    </b-button>
    <b-popover target="popover-target-5" triggers="hover" placement="left" class="popover">
        <template #title></template>
            Help Desk
    </b-popover>

        <section id="easterEggs">

            <span class="easterEgg" id="nenshad">
                    <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-1>

            <b-modal id="modal-1" title="">
                <p class="my-4"><EasterEgg/></p>
            </b-modal>
                
            </span>
            <span class="easterEgg" id="parm">
                    <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-2>
                    <b-modal id="modal-2" title="">
                <p class="my-4"><EasterEgg/></p>
            </b-modal>
            </span>
            <span class="easterEgg" id="gardiner">
                    <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-3>
                    <b-modal id="modal-3" title="">
                <p class="my-4"><EasterEgg/></p>
            </b-modal>
            </span>
            <span class="easterEgg" id="vitali">

                    <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-4>
                    <b-modal id="modal-4" title="">
                <p class="my-4"><EasterEgg/></p>
            </b-modal>
            </span>
            <span class="easterEgg" id="tom">

                    <img src="../assets/img/EasterEggHover.png" alt="Easter Egg Hover Symbol" :key="easterEgg" class="icon" v-b-modal.modal-5>
                    <b-modal id="modal-5" title="">
                <p class="my-4"><EasterEgg/></p>
            </b-modal>
            </span>
        
        </section>
    </div>

    

</template>

<script>
import easterEgg from '../assets/img/EasterEggHover.png'
import EasterEgg from '../components/EasterEgg'
import bgvid from "../assets/Lobby_Main.mp4"
import audioOff from "../assets/img/AUDIO-OFF.png"
import AudioPlayer from '../components/AudioPlayer'

export default {
    name: "Lobby",
    components: {
        EasterEgg,
        AudioPlayer
    },
    data () {
    
    return {
        bgvid,
        audioOn: true,
        easterEgg,
        audioOff
        }
    },
    methods:{
        testMute: function(){
            var aud = this.$refs.player
            aud.mute()
        },
        zeTrigger: function () {
                this.$zendesk.show();
                this.$zendesk.open();
            }
    },
    mounted() {
        // var audio = this.$refs.player
        // audio.play()

    }
}
</script>

<style scoped>
    .popover{
    border-right: 3px solid var(--data-robot);
    font-weight: bold;
}
    .icon{
        height: 40px;
        display: none;
    }
    .easterEgg{
        position: absolute;
        width: 50px;
        height: 50px;
    }
    #parm:hover .icon, #nenshad:hover .icon, #gardiner:hover .icon, #vitali:hover .icon, #tom:hover .icon{
        display: inline;
        cursor: pointer;
    }
    #nenshad{
        top: 71%;
        left: 40%;
    }
    #parm{
        top: 66%;
    }
    #gardiner{
        top: 65%;
        left: 58%;
    }
    #vitali{
        top: 75%;
        right: 33%;
    }
    #tom{
        bottom: 10%;
        right: 5%;
    }
    #videobg {
    object-fit: cover;
    width: 104vw;
    height: 104vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    }
    #lobby{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        max-height: 100vh;
    }
    button, .btn-primary.disabled, .btn-primary:disabled{
        background-color: var(--data-robot);
        color: white;
        border-radius: 20px;
        margin: 5px;
        height: 35px;
        width: 35px;
        border: none;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    .btn-secondary{
        background: transparent;
        border: none;
    }
    button a{
        color: white;
        text-decoration: none;
    }
    button a:hover{
        color: white;
        text-decoration: none;
    }
    button:hover{
        background-color: var(--data-dark);
    }
    #audio{
        z-index: 999999999999;
        position: absolute;
        top: 6%;
        left: 1%;
        width: 100%;
    }
    #audio:hover{
        cursor: pointer;
    }
    #audio img{
        width: 40px;
        position: fixed;
        right: 10%;
        top: 27px;
    }
    #expoHall, #popover-target-1{
        position: fixed;
        left: 51%;
        top: 38%;
    }
    #networking, #popover-target-2{
        position: fixed;
        left: 67%;
        top: 38%;
    }
    #sessions, #popover-target-3{
        position: fixed;
        left: 51%;
        top: 56%;
    }
    #leaderboard, #popover-target-4{
        position: fixed;
        left: 77%;
        top: 59%;
    }
    #helpDesk, #popover-target-5{
        position: fixed;
        left: 45%;
        top: 82%;
    }
    #audio{
        display: flex;
        flex-direction: row;
    }
    #audioOn{
        margin-left: 5px;
    }
    .hoverAnimation{
        background: transparent;
        border: 1px solid;
        border-radius: 200px;
        animation: glowGrow 3s ease-in-out infinite;
        transform-origin:center center;
    }
    @keyframes glowGrow {
        0% { -moz-transform: scale(0);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
        }
        50% { -moz-transform: scale(1);
            transform-origin:center center;
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.7)
            }
        100% { -moz-transform: scale(0);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
        }
    }
</style>