<template>
    <div>
        <iframe
            frameborder="0" 
            height="100%"
            width="100%"
            allow="microphone; camera; fullscreen; display-capture"
            :src="this.$route.query.frame"
        />
    </div>
</template>

<script>

export default {
    name:"NetworkingSubPage",
}
</script>

<style scoped>
    iframe{
        position: absolute;
        top: 10%;
        left: 0
    }
</style>