<template lang="html">
<sui-container>
    <sui-segment>
        <h1 is="sui-header">Networking Rooms</h1>
            <NetworkButton 
                id='netbutton'
                title="DataRobot Social Lounge"
                url="https://go.rally.video/venue/a3f06a38-8452-45b5-8d3a-2f67fc6b1604"
            />
        <p>To view the different networking hours for each booth please visit the individual exhibit pages in the Expo Hall.</p>

        <NetworkButton 
            id='netbutton'
            title="Product"
            url="https://go.rally.video/venue/b611865b-3a96-4211-b412-9d6bf525f437"
        />
        <NetworkButton 
            id='netbutton'
            title="GTM Resources"
            url="https://go.rally.video/venue/bfb42012-c0d1-4fa2-90dd-ba4314572293"       
        />

        <br>
        <NetworkButton 
            id='netbutton'
            title="Sales Resources"
            url="https://go.rally.video/venue/4c3c5b18-3087-41dd-9516-11d4dbb0450c"
        />
        <NetworkButton 
            id='netbutton'
            title="Partners"
            url="https://go.rally.video/venue/7c266511-8634-42e5-ba08-8d7f40011a90"
        />

        <br>
        <NetworkButton 
            id='netbutton'
            title="Marketing"
            url="https://go.rally.video/venue/71b35599-45c1-4ca7-9363-464753e78fe1"
        />
    </sui-segment>
    </sui-container>
</template>

<script>
import NetworkButton from '../components/NetworkButton'

export default {
    name:"Networking",
      components: {
          NetworkButton
      }
}
</script>

<style scoped>
    #networking{
        width: 100%;
        height: 100%;
    }
    #panel{
        background-image: url(../assets/img/blurry-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
    #inset{
        padding:100px;
    }
    #netbutton{
        margin: 20px 50px 20px 50px;
    }
    #networkPanel{
        background-image:url('../assets/img/white-panel.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    h1{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 61px;
        text-align: center;
        color: #23232D;
    }
    p{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 140%;
        text-align: center;
        color: #23232D;
  }
</style>