<template>
    <div id="partners">
        <main>
            <h1>Partners</h1>
            <p>Learn about our Partner ecosystem and how you can leverage it to grow your pipeline.</p>
            <section id="buttons">
            <button>BEPIC</button>
            <button>Partner Program</button>
            <button>Success Stories</button>
            <button>Snowflake</button>
            <button>RPA</button>
            </section>
        </main>
        <b-button id="popover-target-1" class="hoverPulse">
                <b-button v-b-modal.modal-1 class="btn btn-primary" type="button">
                        &plus;
                </b-button>
            </b-button>
            <b-popover target="popover-target-1" triggers="hover" placement="left" class="popover">
            <template #title></template>
            Click to watch welcome video
            </b-popover>
                <b-modal id="modal-1" title="">
                    welcome video goes here
                </b-modal>
    </div>
</template>

<script>
export default {
}
</script>

<style scoped>
    h1, p{
        color: white;
    }
    p{
        width: 70%;
    }
    main{
        text-align: left;
        width: 40%;
    }
    main button{
        background-color: var(--data-robot);
        color: white;
        border-radius: 15px;
        margin: 5px;
        min-height: 40px;
        border: none;
    }
    #partners{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    #partners>button{
        background-color: var(--data-robot);
        border-radius: 20px;
        border: none;
        width: 40px;
        height: 40px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    #partners>button>a{
        color: white;
    }
    #partners>button>a:hover{
        text-decoration: none;
    }
    #partners>button:hover{
        background-color: var(--data-dark);
    }
    #buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        align-self:center;
    }
</style>