<template>
    <div id="product">
        <section id="content">
        <main>
            <h1>Product</h1>
            <p>Learn how the latest enhancements in the DataRobot Platform drives value for our customers.</p>
            <section id="buttons">
            
            <button href="/Module"><router-link to="/DataPrep">Data Prep</router-link></button>
            <button href="/Module">AutoML</button>
            <button href="/Module">AutoTS</button>
            <button href="/Module">MLOps</button>
            </section>
        </main>

            <b-button id="popover-target-1" class="hoverPulse">
                <b-button v-b-modal.modal-1 class="btn btn-primary" type="button">
                        &plus;
                </b-button>
            </b-button>
            <b-popover target="popover-target-1" triggers="hover" placement="left" class="popover">
            <template #title></template>
            Click to watch welcome video
            </b-popover>
                <b-modal id="modal-1" title="">
                    welcome video goes here
                </b-modal>
        
        </section>
    </div>
</template>

<script>
// import Module from '../components/Module'
export default {
    Name: "Product",
    components: {
        // Module
    },
}


</script>

<style scoped>
    
    h1, p{
        color: white;
    }
    p{
        width: 70%;
    }
    main{
        text-align: left;
        width: 40%;
    }
    main button{
        background-color: var(--data-robot);
        color: white;
        border-radius: 15px;
        margin: 5px;
        min-height: 40px;
        border: none;
        opacity: 1;
    }
    #product{
        background-image: url(../assets/img/Expo_Product_Booth.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
    }
    #content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #content>button{
        background-color: var(--data-robot);
        border-radius: 20px;
        border: none;
        width: 40px;
        height: 40px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    #content>button>a{
        color: white;
    }
    #content>button>a:hover{
        text-decoration: none;
    }
    #content>button:hover{
        background-color: var(--data-dark);
    }
    #content>.modal{
        top: 15%;
}
    #buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        align-self:center;
    }
</style>