<template>
    <div id="salesResources">
        <main>
            <h1>Sales Resources</h1>
            <p>Learn about the new and updated sales resources to maximize your success.</p>
            <section id="buttons">
            <button>Deal Desk</button>
            <button>Legal &amp; Trust</button>
            <button>Forecasting &amp; Clari</button>
            <button>Comp Plans</button>
            <button>LI Worksheet</button>
            <button>Pricing 4.5</button>
            </section>
        </main>
            <b-button id="popover-target-1" class="hoverPulse">
                <b-button v-b-modal.modal-1 class="btn btn-primary" type="button">
                        &plus;
                </b-button>
            </b-button>
            <b-popover target="popover-target-1" triggers="hover" placement="left" class="popover">
            <template #title></template>
            Click to watch welcome video
            </b-popover>
                <b-modal id="modal-1" title="">
                    welcome video goes here
                </b-modal>
    </div>
</template>

<script>
export default {
}
</script>

<style scoped>
    h1, p{
        color: white;
    }
    p{
        width: 70%;
    }
    main{
        text-align: left;
        width: 40%;
    }
    main button{
        background-color: var(--data-robot);
        color: white;
        border-radius: 15px;
        margin: 5px;
        min-height: 40px;
        border: none;
    }
    #salesResources{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    #salesResources>button{
        background-color: var(--data-robot);
        border-radius: 20px;
        border: none;
        width: 40px;
        height: 40px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    #salesResources>button>a{
        color: white;
    }
    #salesResources>button>a:hover{
        text-decoration: none;
    }
    #salesResources>button:hover{
        background-color: var(--data-dark);
    }
    #buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        align-self:center;
    }
</style>