<template>
    <div id="sessions">
        <!-- Bizzabo Web Agenda Begin -->
<div name="bizzabo-web-agenda" data-unique-name="284229" data-internal-website-base-url="https://www.datarobotkickoff.com"></div>
    </div>
</template>

<script>
export default {
    data(){
    },
    mounted(){
    var bz = document.createElement('script');
    bz.type = 'text/javascript';
    bz.async = true;
    bz.src = 'https://organizer.bizzabo.com/widgets/agenda/agenda.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(bz, s);

    }
}
</script>

<style scoped>
    #sessions{
        width: 100%;
        height: 100%;
    }
    #bizzabo{
        position: absolute;
        top: 10%;
        left: 0
    }
</style>