<template>
    <div id="socialWall">
        <div class="tintup" data-id="gko_2021" data-columns="" data-expand="true"    data-infinitescroll="true" data-personalization-id="1057926" style="height:500px;width:100%;"></div>
    </div>
</template>

<script>
export default {
    name:"SocialWall",
    data(){
    },
    mounted(){
        /* Bizzabo Web Social Begin */
            var bz = document.createElement('script');
            bz.type = 'text/javascript';
            bz.async = true;
            bz.src = 'https://cdn.hypemarks.com/pages/a5b5e5.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(bz, s);
            /* Bizzabo Web Social End */

    }
}
</script>

<style scoped>
    #socialWall{
        position: absolute;
        top: 10%;
        width: 100%;
        height: 100%;
        left: 0%;
    }
</style>