<template>
    <div class="audiocontrols" id="audio">
        <div v-if="audioOn">
            <img src="../assets/img/AUDIO_ON.gif" id="audioOn" v-on:click='click'>
        </div>
        <div v-else>
            <img src="../assets/img/AUDIO-OFF.png" id="audioOff" v-on:click='click'>
        </div>

        <audio
            loop
            preload="auto"
            style="display:none"
            ref="player"
            id="playerid"
        >
            <source :src='this.url' type="audio/mpeg" id="backgroundSound"/>
        </audio>

    </div>
</template>

<script>

export default {
    name: 'AudioPlayer',
    props:['url'],
    data(){
        return{
            audioOn: true,
        }
    },
    mounted(){
        this.audioOn = this.$cookies.get('audioOn') === "true"
        var audio = this.$refs.player
        audio.play()

        if(!this.audioOn){
            audio.pause()
        }
    },
    methods:{
        click: function(){
            var audio = this.$refs.player
            this.audioOn = !this.audioOn

            if (this.audioOn){
                audio.play()
            }else{
                audio.pause()
            }
            this.$cookies.set('audioOn',this.audioOn);
        },
        unmute: function(){
            var audio = this.$refs.player
             audio.volume = 1
         },
        mute: function(){
            var audio = this.$refs.player
            audio.volume = 0
        }
    }
}

</script>