<template>
    <div class="audiocontrols" id="audio">

            <img src="../assets/img/SPEAKER-ICON.png" class="audioImgSpeaker" :key="audioImgSpeaker" @click="togglePlay()">
            <img src="../assets/img/SPEAKER-ICON-HOVER.png" class="audioImgSpeakerHover" :key="audioImgSpeakerHover" @click="togglePlay()">

            <img src="../assets/img/AUDIO_ON.gif" class="audioimg audioButtonOn" :key="audioButtonOn" @click="togglePlay()">
            <img src="../assets/img/AUDIO-OFF.png" class="audioimg audioButtonOff" :key="audioButtonOff" @click="togglePlay()">

            <audio id="myAudio" src="" preload="auto">
            </audio>

        </div>
</template>
<script>

import audioImgSpeaker from "../assets/img/videoSymbol.png"
import audioImgSpeakerHover from "../assets/img/videoSymbol.png"
import audioButtonOn from "../assets/img/videoSymbol.png"
import $ from "jquery";

export default {
    data () {
        
        return {
            audioImgSpeaker,
            audioImgSpeakerHover,
            audioButtonOn,
            audioButtonOff
        }
        
    },
    created(){
        var myAudio = $("#myAudio")
var maxAudio = 0.5;

var cookieExists = getCookie("audioOn");
if(cookieExists === null){
    setCookie("audioOn", true);
}

var audioOn = getCookie("audioOn") == "true" ? true : false; // initially set value from cookies

myAudio.prop("volume",0);
myAudio.attr("loop", "");


// var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
// if(isChrome){
    
$(".audiocontrols").append(
    $(`<iframe src="../../silence.mp3" allow="autoplay" style="display:none"></iframe> `)
);

//     console.log("what up");
// }

if(audioOn){
    turnAudioOn();
    $(".audioButtonOff").hide();
    $(".audioButtonOn").show();
}
else{
    $(".audioButtonOn").hide();
    $(".audioButtonOff").show();
}

$('body').click(function(){

    myAudio[0].play();
    // if(audioOn)
    //     turnAudioOn();

    $('body').unbind();
});

$(".audioButtonOn").click(function() {
    if(audioOn)
        turnAudioOff();
});
$(".audioButtonOff").click(function() {
    if(!audioOn)
        turnAudioOff();
});
},
    methods:{
    togglePlay(){
        if(audioOn){
            turnAudioOff();
        }
        else{
            turnAudioOn();
        }}
    }
}
</script>