<template>
    <div id="easterEgg">
        <img src="" alt="">
    </div>
</template>

<script>

export default {
    components: {
    }
}
</script>

<style scoped>
    #easterEgg{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

</style>
