<template>
    <div id="leaderBoard">
        <h1>Leaderboard</h1>
        <h2>Your Score</h2>
        <section>
            
        </section>
    </div>
</template>

<script>
export default {
    name: 'Leaderboard',
}
</script>

<style scoped>
    #leaderBoard{
        background-color: white;
    }
    h1{
        background-color: #6FB5F1;
        color: white;
    }
    h2{
        color: var(--data-blue);
    }
    section{
        background-color: #DFEEFA;
        color: var(--data-blue);
    }
</style>