<template>
    <button right>Message board</button>
</template>

<script>
export default {
    components: {
    }
}
</script>

<style scoped>
    button{
        color: white;
        background-color: var(--data-blue);
        width: 150px;
        border-radius: 10px;
        border: none;
        padding: 5px;
        align-self: flex-end;
        margin: 15px;
        z-index: 9;
        position: fixed;
        top: 10%;
        right: 2%;
    }
    button::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    }
</style>