<template>
    <div id="module">
        <button class="backBtn">&#8617;</button>
        <button class="arrows">&#60;</button>
        <main>
            <h1>{{ this.data[0].fields.header }}</h1>
            <h2>{{ this.data[0].fields.subHeader }}</h2>
            <p>{{ this.data[0].fields.body.content[0].content[0].value}}</p>
            <h3>Networking Hours</h3>
            <ul>
                <li>{{convertDate(networking.fields.rallyStart)}} - {{convertDate(networking.fields.rallyEnd)}}</li>
                <li v-for="i in this.objectSize(networking.fields)-1"> {{convertDate(networking.fields['rallyStart'+(i+1)])}} - {{convertDate(networking.fields['rallyEnd'+(i+1)])}}</li>
            </ul>
            <button class="btn btn-primary">Join Room</button>
        </main>

        <aside>
            <section id="videoPlayer">
                <video width="100%" controls :key="this.data[0].fields.webinarurl">
                    <source :src="this.data[0].fields.webinarurl" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
            </section>

            <section id=buttons>
                <div v-for="(btn, index) in buttons">
                        <button class="btn btn-primary">{{btn.fields.buttonLabel}}</button>
                    </div>
            </section>
        </aside>
        
    <button class="arrows">&#62;</button>
    </div>
</template>

<script>
const contentful = require("contentful");
import _ from 'lodash'
export default {
    props : ['data'],

    data(){
        return {
            booth:'',
            products :[],
            networking:[],
            buttons :[]
        }
    },

    created(){
        console.log(this.data[0])

        this.getEntry(this.data[0].fields.networking[0].sys.id)

        this.getButtons()
        //this.booth = this.data[0].items[0].fields


    },

    methods:{

        productMap(){
            for (var i = 0; i < this.data[0].fields.products.length ; i++){
                let product_id = this.data[0].fields.products[i].sys.id

                let product = _.find(this.data[1].items, {sys:{id:product_id}})

                this.products.push([product_id, product.fields])

            }
        },

        openProduct(productId){
            location.href="/product/"+productId
        },

        getEntry(entry){

            axios.get('/data/'+entry).then(response => {

                this.networking = response.data;
            })
        },

        objectSize(obj){
            return ((_.size(obj))/2) - 1
        },

        convertDate(date){
            let d = new Date(date)

            return d.toUTCString()
        },

        getButtons(){
            for(var i =0 ; i < this.data[0].fields.productAssets.length; i++){


                axios.get('/data/'+this.data[0].fields.productAssets[i].sys.id).then(response => {

                    this.buttons.push(response.data);
                })
            }

        }
    }
}
</script>


<style scoped>
    .backBtn{
        align-self: flex-start;
        align-self: flex-start;
        position: absolute;
        left: 2%;
        top: 12%;
        background-color: transparent;
        border: none;
        color: white;
    }
    h1{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
    h3{
        font-size: 18px;
    }
    h3, h4{
        color: var(--data-robot);
        text-align: left;
    }
    p{
        font-size: 12px;
    }
    li{
        color: var(--data-robot);
        font-size: 12px;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    #module{
        background-image: url('/images/Black.png');
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-size: cover!important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 60px 0;
    }
    main{
        width: 30%;
        text-align: left;
    }
    aside{
        width: 60%;
    }
    #videoPlayer{
        width: 100%;
        background-color: black;
        margin-bottom: 20px;
    }
    button{
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        border: none;
    }
    main button{
        background-color: var(--data-robot);
        color: white;
    }
    #buttons{
        display: flex;
        justify-content: space-evenly;
    }
    #buttons button{
        margin: 0 10px;
        width: 110px;
        height: 70px;
        max-width: 16ch;
        background-color: white;
        color: black;
    }
    #buttons button:hover{
        cursor: pointer;
        font-weight: bold;
    }
    main button:hover{
        cursor: pointer;
        background-color: #cb4a08;
    }
    .arrows{
        background-color: transparent;
        color: var(--data-robot);
        border: none;
        font-size: 20px;
        font-weight: 900;
        transform: scaleY(1.5);
    }
    .arrows:hover{
        cursor: pointer;
        color: #cb4a08;
    }
    
</style>

