<template>

    <nav id="nav" class="navbar">
        <section id="upper" class="container-fluid">
            <img src="../assets/img/logo.png" alt="Logo" :key="Logo" id="logo">

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Lobby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ExpoHall">Expo Hall</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Sessions">Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Networking">Networking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/SocialWall">All In Wall</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="zeTrigger">Help Desk</a>
                </li>
            </ul>
            <img src="../assets/img/logo.png" alt="Logo" :key="Logo" id="spaceHolder">
        </section>
        <hr>
    </nav>
</template>

<script>

    import Logo from "../assets/img/logo.png"
    export default {
        components: {
        },
        data (){
        return{
            Logo,
            Audio,
            hover: false,
        }
    },
    methods:{
        zeTrigger: function () {
                this.$zendesk.show();
                this.$zendesk.open();
            }
    }
    }
    
    
    
</script>

<style scoped>
    #spaceHolder{
        opacity: 0;
        width: 140px;
        height: min-content;
        align-self: center;
    }
    hr{
        background: rgb(255,86,0);
        background: linear-gradient(126deg, rgba(255,86,0,1) 0%, rgba(206,236,210,1) 50%, rgba(45,143,226,1) 100%);
        height: 3px;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }
    li{
        list-style-type: none;
    }
    li a{
        text-decoration: none;
        font-size: 13px;
        color: white;
    }
    li>ul>a, .dropdown-item{
        color: black;
    }
    #nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 5000;
        height: 10%;
        width: 100%;
        top: 0;
        background-color: rgb(13,13,13);
        justify-content: flex-end;
    }
    #logo{
        width: 140px;
        height: min-content;
        align-self: center;
    }
    #audio{
        width: 50px;
        height: min-content;
        align-self: center;
    }

    #upper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        padding:0 50px;
        margin-bottom: 15px;
    }
    .nav-link:hover{
        cursor: pointer;
    }
    .navbar{
        padding: 0;
    }
</style>