<template>
    <button class='btn' v-on:click='click'>{{title}}</button>
</template>

<script>
export default {
    name: 'NetworkButton',
    props:['url', 'title'],
    methods: {
        click: function(){
            this.$router.push({
                name: 'NetworkSubPage', 
                query: { frame: this.url } 
                });
        }
    }
}
</script>

<style scoped>
    .btn{
        background: url('../assets/img/network-button.png');
        max-width:100%;
        width:320px;
        height: 81px;

        font-family: Titillium Web;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 43px;
        /* identical to box height */
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        padding: 0;
        border: none;

        color: #FFFFFF;
    }
    #leaderBoard{
        background-color: white;
    }
    h1{
        background-color: #6FB5F1;
        color: white;
    }
    h2{
        color: var(--data-blue);
    }
    section{
        background-color: #DFEEFA;
        color: var(--data-blue);
    }
    p{
        color:black;
    }
</style>