<template>
    <div class='bg'>
        <div class='notification'>
            <p>hello, we closed. go away.</p>
        </div>
    </div>
</template>

<script>

export default {
    name: 'PageClosed'
}

</script>

<style scoped>
    .bg{
        background-image: url(../assets/img/blurry-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }
    p{
        font-family: Titillium Web;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 140%;
        text-align: center;
        color: white;
    }
    .notification{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
    }

</style>