<template>
    <div id="welcomeVideo">
        <b-embed
            type="iframe"
            aspect="16by9"
            src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
            allowfullscreen></b-embed>
    </div>
</template>

<script>

export default {
    components: {
    }
}
</script>

<style scoped>
    
</style>