<template>
  <div id="app">
    
    <template> 
      <Nav></Nav>
      <MessageBoardBtn/>
      <main class="App__main">
        <transition name="fade" mode="out-in">
          
          <router-view/>
        </transition>
      </main>
    </template>
  </div>
</template>


<script>
import Nav from './components/Nav.vue'
import MessageBoardBtn from './components/MessageBoardBtn.vue'
export default {
  name: 'App',
  components: {
    Nav,
    MessageBoardBtn
  }, 
  methods: {

}

}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.modal-content{
    background-color: transparent !important;
    border: none !important;
}
.modal-footer{
  display: none !important;
}
.modal{
  display: flex !important;
  align-items: center !important;
}
.modal-header{
  border-bottom: none !important;
}
.modal-header .close {
    color: white !important;
    font-size: 48px !important;
    font-family: serif!important ;
}
.modal-header .close:hover{
  color: var(--data-robot) !important;
}
:root{
  --data-robot: #FF5600;
  --data-dark: #cb4a08;
  --data-blue: #2D8FE2;
}
body{
  margin: 0;
}
#ze-snippet{
  display: none;
}
.App__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  max-height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(13,13,13);
  background: linear-gradient(142deg, rgba(13,13,13,1) 0%, rgba(15,40,120,1) 100%);
  color: white;
  height: 100vh;
}

button:hover{
  cursor: pointer;
}
#ze-snippet {
    z-index: 2147483647;
  }
  span>button{
    opacity: 1;
  }
.hoverPulse{
  background: transparent;
  border: 1px solid;
  border-radius: 200px;
  animation: glowGrow 3s ease-in-out infinite;
  transform-origin:center center;
}

@keyframes glowGrow {
    0% { -moz-transform: scale(0);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
      }
    50% { -moz-transform: scale(1);
        transform-origin:center center;
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.7)
        }
    100% { -moz-transform: scale(0);
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
    }
  }
  #easterEgg{
    background-color: transparent !important;
  }
  .popover{
    border-right: 3px solid var(--data-robot) !important;
    
}
.popover::after{
    display: none;
}
.popover>.arrow::after, .popover>.arrow,.arrow {
    display: none !important;
}
    .btn, .btn-primary.disabled, .btn-primary:disabled, .btn-secondary{
        background-color: var(--data-robot);
        color: white;
        border-radius: 20px;
        margin: 5px;
        height: 35px;
        width: 35px;
        border: none;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    .btn, .btn-secondary{
        background: transparent;
        border: none;
    }
    .btn, .btn-primary a{
        color: white;
        text-decoration: none;
    }
    .btn, .btn-primary:hover{
        color: white;
        text-decoration: none;
    }
    .btn-secondary:hover{
      background-color: var(--data-robot) !important;
      border: none !important;
    }
</style>
